<a href="https://colab.research.google.com/github/a-forty-two/HPE_2ndOct/blob/main/00_DataStructuresipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
mylist = [1, "hello world", 3.14, True, False]

In [2]:
mylist2 = [mylist, 2, 3]

In [3]:
mylist2

[[1, 'hello world', 3.14, True, False], 2, 3]

In [5]:
mylist[-2]

True

In [6]:
# LIST = Ordered, Indexed ->. [ ]
# Set = Unorederd, Unindexed-> { }
# Tuples = READONLY-> ( )-> Ordered, Indexed
# Dictionary = Set of Key-Value pairs -> { }-> INDEXED

In [13]:
myset = { False,0, 2, 3, "potato", "potato", True, 1}

In [14]:
myset

{2, 3, False, True, 'potato'}

In [15]:
mytuple = (mylist, myset)

In [16]:
mytuple[0]

[1, 'hello world', 3.14, True, False]

In [17]:
mytuple[-1]

{2, 3, False, True, 'potato'}

In [18]:
mytuple[0] = 2

TypeError: ignored

In [19]:
hobbydict = { "Person1": "swimming",
             "Person2": "reading",
             3: 4}

In [21]:
hobbydict[3]

4

In [22]:
hobbydict

{'Person1': 'swimming', 'Person2': 'reading', 3: 4}